body {
    font-family: Arial, sans-serif;
    background-image: url(land.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    height: 100vh;
  }

  .contact-form {
    max-width: 400px;
    width: 100%;
    background:grey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid wheat;
    border-radius: 4px;
  }

  .contact-form button {
    background-color:darkgrey;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .icon{
    padding-left: 500px;
    padding-top: 200px;
 
}

h1{
    color: white;
    
    
    
}

  @media screen and (max-width: 600px) {
    .contact-form {
      max-width: none;
    }
  }