body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    position: fixed;
    transition: 0.5s;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 0;
      overflow: hidden;
    }
  
    .container {
      flex-direction: column;
    }
  }
  