body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#profile-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

#profile-image {
    width: 100%;
    height: 150px;
    background:#4CAF50;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#profile-info {
    padding: 20px;
}

h2, p {
    margin: 0;
}

#edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}