
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body{
    min-height: 100vh;
    background: url(scape.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    background-color: rgb(178, 124, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:2.5rem ;
}

#check {
display: none;
}

.icons{
    position:absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*breakpoints*/
@media(max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media(max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
display:none ;

    }

    #check:checked~.icons #close-icon{
        display: block;
    }


    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgb(185, 133, 69); 
        overflow: hidden;
        transition:.3s ease ;

    }

    #check:checked~.navbar{
        height: 15.7rem;
    }

.navbar a{
    display: block;
    font-size: 1.1rem;
    margin:1.5rem 0;
    text-align: center;

}

}

